<p id="notice"><%= notice %></p>

<p>
  <strong><%= @owner.name.capitalize %>'s fur babies:</strong>
  <ul>
    <% @owner.dogs.order('name').each do |dog| %>
      <li><%= dog.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Phone:</strong>
  <%= @owner.phone %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
